* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}


/*DERECHO CIVIL DERECHO CIVIL DERECHO CIVIL*/
/*DERECHO CIVIL DERECHO CIVIL DERECHO CIVIL*/
/*DERECHO CIVIL DERECHO CIVIL DERECHO CIVIL*/

/* styles.css */

#unique-header-container{
    width: 100%;
    height: 100vh;
}


#unique-header-container header{
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: #FFFFFF;
    color: white;
    padding: 10px;
}
#unique-header-container header nav{
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#unique-header-container header nav img {
    width: 80px;
}

#unique-header-container header nav ul.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

#unique-header-container header nav ul.menu li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

#unique-header-container header nav ul.menu li a:hover {
    color: #f00000;
}
 .derechocivil{
    width: 90%;
    height: 80vh;
    margin: auto;
    margin-top: 30px;
    display: flex;
 }
 
 
 .one-civil{
    width: 50%;
    height: 100%;
    background-color: #083f61; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 4px solid white;
 }
 .uno{
    width: 100%;
    height: 50%;
    
 }
 .dos{
    width: 100%;
    height: 50%;
   
 }
 .tres{
    width: 100%;
    height: 50%;
  
 }

 

 /* Estilo del contenedor de la sección */
section.uno{
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 4px solid white;
}

/* Estilo de la imagen para centrarla */
section.uno img{
    width: 100%;
    height: 90%;
    display: block;
    padding-top: 40px;
    margin: 0 auto;
}

/* Estilo del texto superpuesto */
section.uno h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.517);
    text-align: center;
    padding: 10px;
   
}
section.uno p{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.517);
    text-align: center;
    display: block;
    padding: 8px 5px 8px 5px;
    
}



/* Estilo del contenedor de la sección */
section.dos {
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Estilo de la imagen para centrarla */
section.dos img{
    width: 100%;
    height: 90%;
    display: block;
    margin: 0 auto;
}

/* Estilo del texto superpuesto */
section.dos h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.517);
    text-align: center;
    padding: 10px;
   
}
section.dos p{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.517);
    text-align: center;
    display: block;
    padding: 8px 5px 8px 5px;
    
}

/* Ajustes específicos para título y párrafo */

.two-civil{
    width: 50%;
    height: 100%;
    background-color: #083f61;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
 }


/* Estilo del contenedor de la sección */
section.tres {
    position: relative;
    width: 80%;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 4px solid white;
}

/* Estilo de la imagen para centrarla */
section.tres img{
    width: 100%;
    height: 90%;
    
   
}

/* Estilo del texto superpuesto */
section.tres h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.517);
    text-align: center;
    padding: 10px;
   
}
section.tres p{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.517);
    text-align: center;
    display: block;
    padding: 8px 5px 8px 5px;
}


/*INICIO DEL MAIN DE DERECHO CIVIL INICIO DEL MAIN DE DERECHO CIVIL*/
/*INICIO DEL MAIN DE DERECHO CIVIL INICIO DEL MAIN DE DERECHO CIVIL*/
/*INICIO DEL MAIN DE DERECHO CIVIL INICIO DEL MAIN DE DERECHO CIVIL*/

/* Diferentes colores para cada sección */
section.educativo {
    width: 100%;
    height: 400px;
    background-color:#033357;
    color: white;
    display: flex;
    justify-content:space-between;
}
.card-one{
    width: 25%;
    height: 100%;
    border: 2px solid white;
}
.card-one a{
   text-decoration: none;
}
.card-one h3{
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 30px;
}
.card-one p{
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.card-one img{
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
    padding-top: 40px;
}

.card-two{
    width: 25%;
    height: 100%;
    border: 2px solid white;
}
.card-two a{
    text-decoration: none;
 }
 .card-two h3{
     text-align: center;
     color: #FFFFFF;
     font-size: 40px;
     font-weight: 600;
     font-family: 'Times New Roman', Times, serif;
     padding-top: 30px;
 }
 .card-two p{
     text-align: center;
     color: #FFFFFF;
     font-size: 20px;
     font-family: 'Times New Roman', Times, serif;
 }
 .card-two img{
     width: 300px;
     height: 200px;
     margin: auto;
     display: block;
     padding-top: 40px;
 }

.card-three{
    width: 25%;
    height: 100%;
    border: 2px solid white;
}
.card-three a{
    text-decoration: none;
 }
 .card-three h3{
     text-align: center;
     color: #FFFFFF;
     font-size: 40px;
     font-weight: 600;
     font-family: 'Times New Roman', Times, serif;
     padding-top: 30px;
 }
 .card-three p{
     text-align: center;
     color: #FFFFFF;
     font-size: 20px;
     font-family: 'Times New Roman', Times, serif;
 }
 .card-three img{
     width: 300px;
     height:200px;
     margin: auto;
     display: block;
     padding-top: 40px;
 }

.card-four{
    width: 25%;
    height: 100%;
    border: 2px solid white;
}
.card-four a{
    text-decoration: none;
 }
 .card-four  h3{
     text-align: center;
     color: #FFFFFF;
     font-size: 40px;
     font-weight: 600;
     font-family: 'Times New Roman', Times, serif;
     padding-top: 30px;
 }
 .card-four  p{
     text-align: center;
     color: #FFFFFF;
     font-size: 20px;
     font-family: 'Times New Roman', Times, serif;
 }
 .card-four  img{
     width: 300px;
     height: auto;
     margin: auto;
     display: block;
     padding-top: 40px;
 }

/*CARROUSEL CARROUSEL CARROE=USEL CARROUSEL*/
/*CARROUSEL CARROUSEL CARROE=USEL CARROUSEL*/
/*CARROUSEL CARROUSEL CARROE=USEL CARROUSEL*/

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 200px;
  }
  
  .carousel-item1{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide 30s linear infinite;
  }
  
  .carousel-item2{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide 30s linear infinite;
  }
  .carousel-item3{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide 30s linear infinite;
  }
  .carousel-item4{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide 30s linear infinite;
  }
  .carousel-item5{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide 30s linear infinite;
  }
  .carousel-item6{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide 30s linear infinite;
  }
  
  @keyframes slide {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-600%); }
  }
  
  .carousel {
    display: flex;
    white-space: nowrap; 
  }
  
  

  .carousel-item1 img{
    width: 100%;
    height: 120px;
    
  }
  .carousel-item2 img{
    width: 100%;
    height:120px;
  }
  .carousel-item3 img{
    width: 100%;
    height: 120px;
  }
  .carousel-item4 img{
    width: 100%;
    height:120px;
  }.carousel-item5 img{
    width: 100%;
    height: 120px;
  }.carousel-item6 img{
    width: 100%;
    height: 120px;
  }
  
 /*FIN CARROUSEL FIN CARROUSEL FIN CARROUSEL FIN CARROUSEL*/
 /*FIN CARROUSEL FIN CARROUSEL FIN CARROUSEL FIN CARROUSEL*/
 /*FIN CARROUSEL FIN CARROUSEL FIN CARROUSEL FIN CARROUSEL*/



section.institucional {
    background-color: #033357; 
    color: white;
    height: 800px;
}

.very{
    height: 150px;
    background-color: #3d3636;
}
.very h3{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;
}
.very p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.very a{
    text-decoration: none;
    color: #FFFFFF;
}

.import{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-between;
}
.very-import1{
    width: 33%;
    height: auto;
    display: flex;
    justify-content:center;
    flex-direction:column-reverse;
    align-items:center;
    padding: 10px;
    border: 1px double white;
}
.very-import1 a{
    text-decoration: none;
    color: #FFFFFF;
}
.very-import1 h4{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.very-import1 p{
    text-align:justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.very-import1 img{
    width: 500px;
    height: 350px;
}


.very-import2{
    width: 33%;
    height: auto;
    background-color: #3d3636;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items:center;
    padding: 10px;
    border: 1px double white;
}
.very-import2 a{
    text-decoration: none;
    color: #FFFFFF;
}
.very-import2 h4{
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.very-import2 p{
    text-align:justify;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.very-import2 img{
    width: 500px;
    height: auto;
}


.very-import3{
    width: 33%;
    height: auto;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    padding: 10px;
    border: 1px double white;
}
.very-import3 a{
    text-decoration: none;
    color: #FFFFFF;
}
.very-import3 h4{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.very-import3 p{
    text-align:justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.very-import3 img{
    width: 500px;
    height: 350px;
    padding-bottom: 20px;
}


section.informativo {
    width: 100%;
    height: 500px;
    background-color: #313030; /* Rojo Bordeaux */
    color: white;
    margin-top: 40px;
}
.info-1{
    width: 100%;
    height: 150px;
    background-color: #313030;
    padding-top: 20px;
    border-bottom: 2px solid white;
}
.info-1 h3{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
}
.info-1 p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
}


.regional{
    display: flex;
    justify-content: space-around;
}
.regional-1{
    width: 30%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(26, 99, 194) ;
    background: linear-gradient(to bottom, #313030, #333);
}

@keyframes slideInFromLeft { 
    0% { transform: translateX(-100%); } 
    100% { transform: translateX(0); }
 }







.regional-1 {
    background-image: url('../img/img\ 3\ Derech\ penal.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 25%; /* Ancho del contenedor */ /* Altura del contenedor (en este caso, altura total de la ventana) */
}

.regional-1 h5{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.477);
    animation: slideInFromLeft 1s ease-out forwards;
}
.regional-1 h5:hover { 
    transform: scale(1.2); color: #ff9900; }

.regional-1 button{
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    background-color:#670505;
    border-radius: 5px;
}
.regional-1 button:hover{
    color: #670505;
    background-color: #FFFFFF;
}


.regional-2{
    width: 30%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(26, 99, 194);
}
.regional-2 {
    background-image: url('../img/img\ 2\ Derech\ penal.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 25%; /* Ancho del contenedor */ /* Altura del contenedor (en este caso, altura total de la ventana) */
}

.regional-2 h5{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.477);
}
.regional-2 button{
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    background-color:#670505;
    border-radius: 5px;
}
.regional-2 button:hover{
    color: #670505;
    background-color: #FFFFFF;
}



.regional-3{
    width: 30%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #313030, #333);
    border: 2px solid rgb(26, 99, 194) ;
}
.regional-3 {
    background-image: url('../img/Imag\ 1\ Derech\ penal.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 25%; /* Ancho del contenedor */ /* Altura del contenedor (en este caso, altura total de la ventana) */
}

.regional-3 h5{
    font-size: 30 px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.477);
}
.regional-3 button{
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    background-color:#670505;
    border-radius: 5px;
}
.regional-3 button:hover{
    color: #670505;
    background-color: #FFFFFF;
}





.regional-4{
    width: 30%;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(26, 99, 194) ;
    background: linear-gradient(to bottom, #313030, #333);
}
.regional-4 {
    background-image: url('../img/img\ 4\ Derech\ penal.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 25%; /* Ancho del contenedor */ /* Altura del contenedor (en este caso, altura total de la ventana) */
}


@keyframes slideInFromRight{ 
    0% { transform: translateX(-100%); } 
    100% { transform: translateX(0); }
 }

.regional-4 h5{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    animation: slideInFromRight 1s ease-out forwards;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.477);
}
.regional-4 h5:hover { 
    transform: scale(1.5); color: #ff9900; }

.regional-4 button{
    width: 100px;
    height: 30px;
    color: #FFFFFF;
    background-color:#670505;
    border-radius: 5px;
}
.regional-4 button:hover{
    color: #670505;
    background-color: #FFFFFF;
}





footer{
    width: 100%;
    height: 300px;
    background-color: #3d3636;
}
footer {
    background-color: #333;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 300px;
}

.footer-section h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #ff9900;
}

.footer-section p {
    margin-bottom: 15px;
}

.contact p, .socials a {
    margin: 5px 0;
}

.socials a img {
    width: 30px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.socials a img:hover {
    transform: scale(1.2);
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li {
    margin: 10px 0;
}

.links ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.links ul li a:hover {
    color: #ff9900;
}



/*INICIO DE PROFESORADO DE HISTORIA INICIO DE PROFESORADO DE HISTORIA*/
/*INICIO DE PROFESORADO DE HISTORIA INICIO DE PROFESORADO DE HISTORIA*/
/*INICIO DE PROFESORADO DE HISTORIA INICIO DE PROFESORADO DE HISTORIA*/
/*INICIO DE PROFESORADO DE HISTORIA INICIO DE PROFESORADO DE HISTORIA*/  


nav{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    background-color: #660000;
}
nav img{
    width: 100px;
    padding-top: 20px;
}
nav .menu{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color:#f5f5f5;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #333;
}

.header-section {
    text-align: center;
    list-style: none;
    padding: 20px;
    flex: 1;
}
.header-section h2{
    font-size: 20px ;
    color:#f5f5f5;
}
.header-section p{
    font-size: 16px;
    color:#f5f5f5;
}
.header-section a{
    text-decoration: none;
}

.animated-image {
    width: 100%;
    height: 650px;
    border: 1px solid #660000;
    animation: fadeIn 2s infinite;
}

@keyframes fadeIn {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}
/*INICIO DEL MAIN INICIO DEL MAIN INICIO DEL MAIN DE HISTORIA*/
/*INICIO DEL MAIN INICIO DEL MAIN INICIO DEL MAIN DE HIASTORIA*//*INICIO DEL MAIN INICIO DEL MAIN INICIO DEL MAIN DE HISTORIA*/


.history{
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.video-large, .video-thumbnails {
    width: 50%;
    height: 400px;
}
.video-large iframe {
    width: 100%;
    height: 100%;
}
.video-thumbnails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video-thumbnails iframe {
    width: 100%;
    height: calc(33.33% - 10px);
}
.video-thumbnails iframe + iframe {
    margin-top: 10px;
}




/*INICIO DE SOCIOLOGIA INICIO DE SOCIOLOGIA*/
/*INICIO DE SOCIOLOGIA INICIO DE SOCIOLOGIA*/
/*INICIO DE SOCIOLOGIA INICIO DE SOCIOLOGIA*/
/*INICIO DE SOCIOLOGIA INICIO DE SOCIOLOGIA*/


.header-sociology{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #333;
}

.header-section {
    text-align: center;
    list-style: none;
    padding: 20px;
    flex: 1;
}
.header-section h2{
    font-size: 20px ;
    color:#f5f5f5;
}
.header-section p{
    font-size: 16px;
    color:#f5f5f5;
}
.header-section a{
    text-decoration: none;
}

.animated-image {
    width: 100%;
    height: 650px;
    border: 1px solid #660000;
    animation: fadeIn 2s infinite;
}

@keyframes fadeIn {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}
/*INICIO DEL MAIN INICIO DEL MAIN INICIO DEL MAIN DE sociologia*/
/*INICIO DEL MAIN INICIO DEL MAIN INICIO DEL MAIN DE SOCIOLOGIA*//*INICIO DEL MAIN INICIO DEL MAIN INICIO DEL MAIN DE SOCIOLOGIA*/


.sociology{
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.video-large, .video-thumbnails-one {
    width: 50%;
    height: 400px;
}
.video-large iframe {
    width: 100%;
    height: 100%;
}
.video-thumbnails-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video-thumbnails iframe {
    width: 100%;
    height: calc(33.33% - 10px);
}
.video-thumbnails iframe + iframe {
    margin-top: 10px;
}

